cffi==0.8.6
Cython==0.19.2
-e git+git@github.com:marcecj/faust_python@5b44d7657de721ac9a99bd44c4fae1ab4e1b185d#egg=FAUSTPy-master
Kivy==1.8.0
Kivy-Garden==0.1.1
numpy==1.9.1
PyAudio==0.2.8
pycparser==2.10
pygame==1.9.2a0
requests==2.5.1
